<body>

    <head>
        <link rel="stylesheet" href="../../public/stylesheets/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <nav class="justify-content-center">
        <ul class="row justify-content-around">
            <a href="/" class="link"><li>Feed</li></a>
            <a href="/profile" class="link"><li>Profile</li></a>
            <a href="/posts" class="link"><li>Create a Review</li></a>
        </ul>
    </nav>
    <!-- PROFILE PAGE CONTENT TO GO IN THE {{{ body }}} -->
    <!-- ///////// Page Tile Row ////////////// -->
    <div class="profile-card">

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h1>My Profile</h1>
            </div>
        </div>

        <!-- ///////// START OF Two Column Content ////////////// -->
        <div class="row">
            <!-- ///////// START OF First Column ////////////// -->
            <div class="col-sm-12 col-lg-12">
                <!-- ///////// START OF Profile Info ////////////// -->
                <div class="oBox">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center"></br>
                            <h2>{{username}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">

                            <!-- start of Nessted PROFILE info -->
                            <div class="row">
                                <div class="col-12 justify-content-center box">
                                    <div class="row">
                                        <!-- <div class="col-4 justify-content-center"></br>
                                            <img src="{{#if avatar}}{{avatar}}{{else}}../img/avatar.jpg{{/if}}"
                                                alt="avatar" style="width:150px;height:150px;" />
                                        </div> -->
                                        <div class="col-4 justify-content-center"></br>
                                            <img src="/assets/Blank-avatar.png" alt="avatar"
                                                style="width:150px;height:150px;" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="followers"><a href="/{{user.id}}/followers"><span class="Followers">Followers</span></a> //
                            <span class="followers-number">{{user.followers.length}}</span></div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="following"><a href="/{{user.id}}/following"><span class="Following">Following</span></a> //
                            <span class="following-number">{{user.following.length}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

    <script>
        gsap.from('div', { opacity: .75, duration: 1.25, ease: 'Power2.easeInOut' });
    </script>

</body>