<body>

  <head>
    <link rel="stylesheet" href="../../public/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  {{> navbar}}

  <div class="feed-card">
    <div class="justify-content-center post-transition post-title feed-item">
      <div class="post-item">

        <h2 class="bold">{{post.title}}</h2>
        <h5>{{format_dates post.createdAt}}</h5>
        <h5>{{post.user.username}}</h5>

        <h6>{{post.review}}</h6>

        {{#if loggedIn}}

      </div></br>
      <div>
 
          {{#each post.comments as |comment|}}
          <div class="comment-item container"></div>
          {{comment.comment_text}}
          by {{comment.user.username}}
          {{/each}}
                            </div>

      </div>

      <div class="comment-form">
        <h5 class="bold">Comments</h5>
        <h5>write a comment:</h5>
        <form class="justify-content-center">
          <textarea name="comment" id="comment" cols="30" rows="5" class="comment-form"></textarea></br></br>
          <button type="submit" class="comment-btn bold">COMMENT</button>
        </form>
      </div>
    </div>
  </div>


  <script>
    async function commentFormHandler(event) {
      event.preventDefault();

      const post_id = window.location.toString().split('/')[
        window.location.toString().split('/').length - 1
      ];
      const comment_text = document.querySelector('textarea[name="comment"]').value;

      const response = await fetch('/api/comments', {
        method: 'post',
        body: JSON.stringify({
          comment_text,
          post_id
        }),
        headers: { 'Content-Type': 'application/json' }
      })

      if (response.ok) {
        window.location.reload();
      } else {
        alert(response.statusText);
      }
    }

    document.querySelector('.comment-form').addEventListener('submit', commentFormHandler);
  </script>
  {{/if}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

  <script>
    gsap.from('.single-post-card', { opacity: .95, duration: 1.50, y: 0, ease: 'Power2.ease' })
    {{!-- gsap.from('.feed-item', { opacity: 0, duration: 1.5, ease: 'Power2.ease' }) --}}
    gsap.from('.feed-item', { opacity: .50, duration: 1, x: 50, ease: 'Power2.ease' })
  </script>

</body>