<body>
    {{> navbar}}

    <!-- PROFILE PAGE CONTENT TO GO IN THE {{{ body }}} -->
    <!-- ///////// Page Tile Row ////////////// -->
    <div class="profile-card">

        <div class="row profile-item">
            <div class="col-12 d-flex justify-content-center">
                <h1>{{user.username}}</h1>
            </div>
        </div>


        <!-- ///////// START OF Two Column Content ////////////// -->
        {{> profile-content}}

        <div class="row posts">
            <div class="col-12 d-flex justify-content-center">
                <h2>{{user.username}}'s Posts ({{user.posts.length}})</h2>
            </div>
            <div class="">
                {{#each user.posts as |post|}}
                <div class="feed-item d-flex justify-content-center">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="feed-item post-title">
                    <h5>Posted: {{format_dates post.createdAt}} // Comments: {{post.comments.length}}</h5>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

    <script>
        gsap.from('.profile-item', { opacity: 0, duration: 1.5, ease: 'Power2.easeInOut' });
    </script>

</body>